.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


body {
  color: #444;
  font-family: "Open Sans", sans-serif;
}


.reveal {
  font-size: 36px;
}


small {
  color: #666;
}


a,
a:active,
a:hover,
.reveal a:not(.image),
.reveal a:not(.image):hover,
.reveal a:not(.image):active {
  color: #22a0ba;
}


[class*="col-"] {
  float: left;
  min-height: 1px;
  position: relative;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-75 {
  width: 75%;
}
.col-80 {
  width: 80%;
}


.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #333;
  font-family: "Roboto Slab", Impact, sans-serif;
  font-weight: 700;
}

section.has-dark-background {
  color: #444;
}


.reveal .sans-serif-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}



.reveal .white-text {
  color: #fff;
}


.reveal .light-gray-text {
  color: #eee;
}



.reveal .progress {
  height: 5px;
}


.reveal .progress span {
  background-color: #f0c83b;
  background-image: linear-gradient(to right, #f0c83b 0%, #f1563c 20%, #c34b9b 48%, #00b3c1 74%, #00b36c 100%);
}


.cube {
  position: relative;
}
.cube .face {
  background-color: #e45257;
  border-radius: 4px;
  border: 0 solid #fff;
  box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, .6);
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.cube .top {
  left: 44.5%;
  top: 0px;
  transform: rotate(-45deg) skew(15deg, 15deg);
}
.cube .left {
  top: 76.5%;
  transform: rotate(15deg) skew(15deg, 15deg);
}
.cube .right {
  left: 89%;
  top: 76.5%;
  transform: rotate(-15deg) skew(-15deg, -15deg);
}


.cube-pile {
  position: relative;
}


.reveal .slides section .fragment.roll-in {
  transform: rotateX(60deg);
}


.reveal .slides section .fragment.roll-in.visible {
  transform: none;
}
